<ds-metadata-field-wrapper [label]="label | translate">
    <!-- Special handling for DOI links added by UoE DL -->
    <div *ngFor="let mdValue of mdValues; let last=last;">
        <a class="dont-break-out" *ngIf="label === 'item.page.doi'; else uri" [href]="'https://doi.org/' + mdValue.value" [target]="hasInternalLink(mdValue.value) ? '_self' : '_blank'">
            {{ linktext || mdValue.value }}<span *ngIf="!last" [innerHTML]="separator"></span>
        </a>
    </div>
    <ng-template #uri>
        <a class="dont-break-out" *ngFor="let mdValue of mdValues; let last=last;" [href]="mdValue.value" [target]="hasInternalLink(mdValue.value) ? '_self' : '_blank'">
            {{ linktext || mdValue.value }}<span *ngIf="!last" [innerHTML]="separator"></span>
        </a>
    </ng-template>
    <!-- end -->
</ds-metadata-field-wrapper>
