<footer class="text-lg-start">
    <div *ngIf="showTopFooter" class="top-footer">
        <!-- Grid container -->
        <div class=" container p-4">
            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <h5 class="text-uppercase">Footer Content</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                        <a routerLink="./" class="">Lorem ipsum</a>
                        </li>
                        <li>
                        <a routerLink="./" class="">Ut facilisis</a>
                        </li>
                        <li>
                        <a routerLink="./" class="">Aenean sit</a>
                        </li>
                    </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <h5 class="text-uppercase">Footer Content</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                        <a routerLink="./" class="">Suspendisse potenti</a>
                        </li>
                    </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Footer Content</h5>

                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                        molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                        voluptatem veniam, est atque cumque eum delectus sint!
                    </p>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
    </div>
    <!-- Grid container -->

<!-- Copyright -->
<div class="top-footer p-1 d-flex justify-content-center align-items-center text-white">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12 first-footer">
            <button (click)="onEdit()" title="Top of page" class="top-of-page">
                <i class="fa fa-angle-double-up" aria-hidden="true"></i> Top of Page
            </button>
            <ul class="footer-info list-unstyled d-flex justify-content-center mb-0">
                <li>
                    <a href="/" title="AURA Home">AURA Home</a>
                </li>
                <li>
                    <a href="/info/accessibility" title="Accessibility Statement">Accessibility</a>
                </li>
                <li>
                    <a href="https://www.abdn.ac.uk/pure" title="PURE" target="_blank">PURE</a>
                </li>
                <li>
                    <a href="https://abdn.primo.exlibrisgroup.com/discovery/collectionDiscovery?vid=44ABE_INST:44ABE_VU1&amp;collectionId=81151714170005941" title="Digital Resources" target="_blank">Digital Resources</a>
                </li>
                <li>
                    <a href="https://www.abdn.ac.uk/library" title="Library, Special Collections &nbsp; Museums" target="_blank">Library, Special Collections &amp; Museums</a>
                </li>
                <li>
                    <a href="https://www.abdn.ac.uk/it/service-portfolio/sc-systems-aura.php#repository-takedown" title="Take-Down Notice" target="_blank">Take-Down Notice</a>
                </li>
                <li>
                    <a href="/info/feedback">Send Feedback</a>
                </li>
                <li>
                    <a href="mailto:aura-manager@abdn.ac.uk" title="Contact Us">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="p-1 d-flex align-items-center">
    <div class="container">
        <div class="second-footer">
            <div>
                <a class="my-2" routerLink="/home">
                    <img class="footer-logo" src="assets/aura/images/unilogo3.gif" [attr.alt]="'menu.header.image.logo' | translate"/>
                </a>
            </div>
            <div>
                <p>The Sir Duncan Rice Library</p>
                <p>University of Aberdeen</p>
                <p>Bedford Road</p>
                <p>Aberdeen</p>
                <p>AB24 3AA</p>
                <br>
                <p>Tel: +44 (0)1224 273330</p>
                <p>Email: <a href="mailto:library@abdn.ac.uk" title="Email Library, Special Collections and Museums">library&#64;abdn.ac.uk</a></p>
            </div>
            <div class="footer-divider"></div> 
            <div class="footer-socials">
                <p>Share and keep up to date</p>
                <br>
                <p>
                    <a href="https://www.facebook.com/biblio.teque?fref=ts">
                        <img class="png" title="Facebook" alt="Facebook" src="assets/aura/images/facebook_32.png">
                    </a>
                    <a href="http://twitter.com/aberdeenunilib/">
                        <img class="png" title="Facebook" alt="Twitter" src="assets/aura/images/twitter_32.png">
                    </a>
                    <a href="http://aberdeenunilib.wordpress.com">
                        <img class="png" title="Facebook" alt="Wordpress" src="assets/aura/images/wordpress_32.png">
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!-- <div style="float:left; width:190px;">
        <a href="https://www.abdn.ac.uk/library/" title="Library, Special Collections and Museums home page"><img title="Library, Special Collections and Museums logo" alt="Library, Special Collections and Museums logo" src="assets/aura/images/unilogo3.gif"></a>
    </div>
    <div style="float:left;">
        <b>The Sir Duncan Rice Library</b>
        <br>
                                                        University of Aberdeen<br>
                                                        Bedford Road<br>
                                                        Aberdeen<br>
                                                        AB24 3AA<br>
        <br>
                                                        Tel: +44 (0)1224 273330<br>
                                                        Email: <a href="mailto:library@abdn.ac.uk" title="Email Library, Special Collections and Museums">library@abdn.ac.uk</a>
    </div> -->
</div>
<!-- Copyright -->

</footer>
